# Add web scraping data 
- update June 25, 2020

## input: use the most complete installer level data - es_marketlevel from step3

In [3]:
import pandas as pd

In [4]:
parameters='90_100_2two_step'

In [5]:

es_marketlevel=pd.read_csv('../2_pipeline/es_marketlevel90_100_2twostep.csv')

In [6]:
es_marketlevel.head()

,Unnamed: 0,avg,avg_sent_score,five,four,installer_id,market,one,quotes_count,reviews_ct,...,two,winning_quotes_count,year_month_count,avgmean_mkt,avgmean_others,avg_sent_score_mkt,avg_sent_score_others,ent_mkt,ent_others,ent_self
0,0,NaN,NaN,0,0,21283,0.0,0,2.0,0.0,...,0,0.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,0,0,21283,0.0,0,4.0,0.0,...,0,0.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,0,0,21283,0.0,0,4.0,0.0,...,0,0.0,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,0,0,21283,0.0,0,3.0,0.0,...,0,0.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,0,0,21283,0.0,0,7.0,0.0,...,0,0.0,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Input : Individual level Experience: import Webscraped data

In [7]:
es_webscrap=pd.read_csv('../0_data/es_web.csv')

In [8]:
es_webscrap.describe()

        installerid        Since           zip         lat        long
count    557.000000   457.000000    546.000000  530.000000  530.000000
mean   18708.587074  1995.282276  51541.109890   37.702916  -94.247910
std     6786.004637   161.940254  36835.536442    4.824161   19.774081
min      105.000000     5.000000    605.000000   25.485147 -122.987328
25%    20399.000000  2007.000000  12630.000000   33.987985 -117.257345
50%    21294.000000  2009.000000  48792.500000   38.804840  -86.463371
75%    21800.000000  2012.000000  91349.500000   41.595521  -75.035137
max    23062.000000  2017.000000  99224.000000   48.796490  -69.747612

In [9]:
es_webscrap=es_webscrap[['installerid','state','Since']]

In [10]:
es_webscrap.head()

   installerid    state   Since
0        20727       CA  2007.0
1          205       OR  1975.0
2          216       MI     NaN
3          256  KÃ¤rnten     NaN
4        20831       CA     NaN

In [11]:
es_panel_step4=pd.merge(left=es_marketlevel,right=es_webscrap,left_on='installer_id',right_on='installerid',how='left')

In [12]:
es_panel_step4.describe()

,Unnamed: 0,avg,avg_sent_score,five,four,installer_id,market,one,quotes_count,reviews_ct,...,year_month_count,avgmean_mkt,avgmean_others,avg_sent_score_mkt,avg_sent_score_others,ent_mkt,ent_others,ent_self,installerid,Since
count,8127.000000,4965.000000,4965.000000,8127.000000,8127.000000,8127.000000,8127.000000,8127.000000,6045.000000,8127.000000,...,8127.000000,6998.000000,6648.000000,6998.000000,6648.000000,5354.000000,5354.000000,5354.000000,8127.000000,7693.000000
mean,4052.713178,4.880636,0.683608,3.182601,0.118002,17978.064846,17.764366,0.054017,38.973366,3.393011,...,43.262951,4.891192,4.890290,0.693703,0.692531,0.238887,0.226175,0.097886,17978.064846,2006.010269
std,2341.484616,0.396725,0.162916,5.431957,0.495343,6702.960702,13.484204,0.325185,94.003942,5.798324,...,14.531849,0.184127,0.200213,0.077791,0.088829,0.187459,0.193722,0.219743,6702.960702,51.444463
min,0.000000,1.000000,-0.826800,0.000000,0.000000,108.000000,-1.000000,0.000000,1.000000,0.000000,...,1.000000,3.000000,1.000000,0.059340,-0.599400,0.000000,0.000000,0.000000,108.000000,5.000000
25%,2031.500000,5.000000,0.634650,0.000000,0.000000,20131.000000,4.000000,0.000000,3.000000,0.000000,...,34.000000,4.874211,4.872328,0.663772,0.662121,0.139061,0.000000,0.000000,20131.000000,2007.000000
50%,4049.000000,5.000000,0.704425,1.000000,0.000000,20627.000000,17.000000,0.000000,11.000000,1.000000,...,46.000000,4.944445,4.944445,0.698132,0.698004,0.237177,0.224970,0.000000,20627.000000,2009.000000
75%,6080.500000,5.000000,0.777200,4.000000,0.000000,21356.000000,33.000000,0.000000,34.000000,4.000000,...,55.000000,5.000000,5.000000,0.735656,0.734948,0.314446,0.316455,0.000000,21356.000000,2011.000000
max,8112.000000,5.000000,0.957600,47.000000,6.000000,23027.000000,36.000000,5.000000,1417.000000,52.000000,...,64.000000,5.000000,5.000000,0.886075,0.957600,1.054920,1.070593,1.209574,23027.000000,2017.000000

## Output: output the installer level data after step 4

In [13]:
es_panel_step4.to_csv('../2_pipeline/es_panel_step4'+parameters+'.csv')